<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/globals.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <title>Fake Pinterest</title>
</head>
<body>
  <div class="containerLogin">
    <div class="containerLoginImage">
      <h2 class="">Crie sua conta</h2>
    </div>
  
    <div class="formLogin">
      <form class="form-create-user" method="post" onsubmit="validateForm(event)">
        <div class="inputEmail">
          <label for="firstname" class="">Nome</label>
          <input id="firstname" name="firstname" type="text" autocomplete="name" />
          <% if (locals.errors && errors.firstname) { %>
            <p class="error"><%= errors.firstname %></p>
          <% } %>
        </div>

        <div class="inputEmail">
          <label for="lastname" class="">Sobrenome</label>
          <input id="lastname" name="lastname" type="text" autocomplete="name" />
          <% if (locals.errors && errors.lastname) { %>
            <p class="error"><%= errors.lastname %></p>
          <% } %>
        </div>

        <div class="inputEmail">
          <label for="username" class="">Nome de usuário</label>
          <input id="username" name="username" type="text" autocomplete="username" />
          <% if (locals.errors && errors.username) { %>
            <p class="error"><%= errors.username %></p>
          <% } %>
        </div>
        
        <div class="inputEmail">
          <label for="email" class="">Email</label>
          <input id="email" name="email" type="email" autocomplete="email" />
          <% if (locals.errors && errors.email) { %>
            <p class="error"><%= errors.email %></p>
          <% } %>
        </div>

        <div class="inputPassword">
          <label for="password" class="">Senha</label>
          <input id="password" name="password" type="password" autocomplete="current-password" />
          <% if (locals.errors && errors.password) { %>
            <p class="error"><%= errors.password %></p>
          <% } %>
        </div>
        
        <div class="inputPassword">
          <label for="confirmPassword" class="">Confirmar senha</label>
          <input id="confirmPassword" name="confirmPassword" type="password" autocomplete="current-password" />
          <% if (locals.errors && errors.confirmPassword) { %>
            <p class="error"><%= errors.confirmPassword %></p>
          <% } %>
        </div>
  
        <% if (locals.errors && errors.user) { %>
          <p class="error"><%= errors.user %></p>
        <% } %>

        <button type="submit" id="register-button" class="btn-login">Criar</button>

      </form>

  
      <p class="messageNotMember">
        Já possui conta?
        <a href="/" class="">voltar á tela de login</a>
      </p>
    </div>
  </div>

</body>
</html>