<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/friend-list.css" />
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <title>Home</title>
</head>
<body class="w3-content" style="max-width:1600px">

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-animate-left" id="mySidebar"><br>
    <div class="w3-container avatarContainer">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      <div class="avatarWithBorder">
        <span style="font-size: 32px;"><%= user.firstname.charAt(0) + user.lastname.charAt(0)%></span><br><br>
      </div>
      <h4><b><%= user.firstname + ' ' + user.lastname%></b></h4>
    </div>
    <div class="w3-bar-block">
      <a href="/home" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="ph-thin ph-house"></i>Home</a>
      <a href="/my-photos" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="ph-thin ph-camera"></i>Minhas fotos</a>
      <a href="/add-photo" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="ph-thin ph-camera-plus"></i>Adicionar foto</a>
      <a href="/friend-list" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="ph-thin ph-user-list"></i>Lista de Usuários</a>
      <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="ph-thin ph-x"></i>Sair</a>
    </div>
  </nav>
  

  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <div class="w3-main" style="margin-left:50px">
  
    <header id="portfolio">
      <span class="w3-button w3-hide-large w3-xxlarge " onclick="w3_open()"><i class="ph-thin ph-article"></i></span>
      <div class="w3-hide-large avatarWithBorderPortifolio">
        <span style="font-size: 32px;"><%= user.firstname.charAt(0) + user.lastname.charAt(0)%></span><br><br>
      </div>
    </header>
    
    <main class="">
      
      <div class="containerList">
        <h1><b>Lista de Usuários</b></h1>

        <div class="list-user">
          <% for(let i = 0; i < listUser.length; i++) {%>
            <a href="/friend-profile/<%= listUser[i].id %>" class="userProfile">
              <div class="avatarProfile">
                <%= listUser[i].firstname.charAt(0) + listUser[i].lastname.charAt(0)%>
              </div>
              <span><%= listUser[i].firstname + ' ' + listUser[i].lastname%></span>
            </a>
          <% } %>
        </div>
      </div>
    </main>

  </div>
  
  <script>
  function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
  }
   
  function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
  }
  </script>
  
  </body>
</html>