<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css" />
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <title>Home</title>
</head>
<body class="w3-content">

  <nav class="w3-sidebar w3-collapse w3-animate-left" id="mySidebar"><br>
    <div class="w3-container avatarContainer">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      <div class="avatarWithBorder">
        <span style="font-size: 32px;"><%= user.firstname.charAt(0) + user.lastname.charAt(0)%></span><br><br>
      </div>
      <h4><b><%= user.firstname + ' ' + user.lastname%></b></h4>
    </div>
    <div class="w3-bar-block">
      <a href="/home" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="ph-thin ph-house"></i>Home</a>
      <a href="/my-photos" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="ph-thin ph-camera"></i>Minhas fotos</a>
      <a href="/add-photo" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="ph-thin ph-camera-plus"></i>Adicionar foto</a>
      <a href="/friend-list" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="ph-thin ph-user-list"></i>Lista de Usuários</a>
      <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="ph-thin ph-x"></i>Sair</a>
    </div>
  </nav>
  
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <div class="w3-main" style="margin-left:300px">
    
    <main class="">
      <form method="post" action="/tags" class="">
        <label for="tagName" class="">Filter:
          <input type="text" name="tagName" id="tagName" placeholder="Buscar por tag">
        </label>
        <button type="submit" class="">Buscar</button>
      </form>
      <h1><b>Fotos</b></h1>
      <div class="w3-row-padding model grid">
        <% for(let i = 0; i < photos.length; i++) {%>
          <div class="container">
            <a href="/photo/<%= photos[i].id %>">
              <img src="/uploads/<%= photos[i].url %>" alt="" loading="lazy">
            </a>
          </div>

        <% } %>
      </div>
    </main>

    
  
    <div class="pagination">
      <% for(let i = 0; i < (Math.ceil(countPhotos / 10)); i++) { %>
        <div class="btn-pagination"><a href="/home?page=<%=i+1%>"><%= i+1 %></a></div> 
      <%} %>
    </div>
  
     
  </div>
  
  <script>
  function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
  }
   
  function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
  }
  </script>
  
  </body>
</html>